body{
  font-family: sans-serif;
  display: block;
  align-items: center
  align-items: center;
  height: 100vh;
  background: #111;
  color: #fff;
}

.card-container {
  text-align: center;
  max-width: 1000px;
  text-align: center;
  margin-top: 60px;
}

.card {
  padding: 2rem;
  background: #222;
  border-radius: 10px;
  margin-bottom: 1rem;
  font-size: 2.2rem;
}

.actions button {
  margin: 0 0.5rem;
  padding: 0.5rem 1rem;
  background: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#title{
    color: bisque;
    text-align: center;
}